@model GPA.Models.DashbordViewModel

<h1>Student Dashbord</h1>


<div class="panel panel-default disabled">
    <div class="panel-heading">Course Taken</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.FeedbackReadViewModel.FromId)*@
                    Course ID
                </th>
                <th>
                    Course Name
                </th>
               

            </tr>

            @foreach (var item in Model.StudentViewModel.Courses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>

                   
                </tr>
            }

        </table>
    </div>
</div>





<div class="panel panel-default disabled">
    <div class="panel-heading">Course Taken</div>
    <div class="panel-body">
        <table class="table col-lg-6">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.FeedbackReadViewModel.FromId)*@
                    Course ID
                </th>
                <th>
                    Course Name
                </th>
                <th>
                </th>

            </tr>

            @foreach (var item in Model.StudentViewModel.ECourses)
            {
                if (item.IsRequested )
                {
                    <tr style="color:red;background-color:#b6ff00">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>

                    <td>

                        @Html.ActionLink("Signup", "CourseSignup", "Course", new { courseid = item.Id }, null) 

                    </td>
                </tr>
                }
                else
                {
                    <tr style="color:green;background-color:gray">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>

                        <td>

                            @Html.ActionLink("Signup", "CourseSignup", "Course", new { courseid = item.Id }, null)

                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
    