@*
    Created By: Mehrdad Panahandeh
    Modified by: Kengsreng Tang
    Date Modified: 1/6/2014
    Ensure proper use of details fields
*@

@model GPA.Models.CourseViewModel

@{
    ViewBag.Title = "Students Enrollment";
}

<h2>Students Enrollment</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit)
        </dd>


    </dl>
    <h4>Students</h4>
    <table class="table">
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
        </tr>
        @foreach (var item in Model.students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
