@model GPA.Models.FeedbackViewModel
@{
    ViewBag.Title = "Index";
    
   
    var auction = Model;
}


<div class="panel panel-default">
  
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FeedbackReadViewModel.FromId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FeedbackReadViewModel.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FeedbackReadViewModel.Message)
                </th>
                <th>
                    Date 
                </th>
                <th>
                    
                </th>
               
            </tr>

            @foreach (var item in Model.FeedbackReadViewModel.Feedbacks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.From)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortMessage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.UserDetail.Email)
                    </td>*@
                    <td>
                       
                        @Html.ActionLink("Details", "FeedbackDetails", new { id = item.FeedbackID }) |
                        @Html.ActionLink("Delete", "DeleteFeedback", new { id = item.FeedbackID }) |
                        @Html.ActionLink("Reply", "FeedbackReply", new { id = item.FeedbackID })
                    </td>
                </tr>
            }

        </table>
      
        
       

    </div>
    @if ((string)TempData["MessageDeleted"] == "True")
{
    <div class="alert alert-success" style="margin-top:10px;">
        Message Deleted
    </div>
}

    <div id="feedbackResult">
    </div>
</div>
<!-- Feedback detail read-->
@if (Model.FeedBackMood == "Detail")
{
    <div class="panel panel-default">
    <div class="panel-heading">Message From: @Model.FeedbackReadViewModel.FeedbackDetail.From</div>

    <div class="panel-body">
        <p>
            @Model.FeedbackReadViewModel.FeedbackDetail.Comment
        </p>
        </div>
        </div>
    
}



<div>
    <!--
    <input type="submit" id="btnFeedback"  value="Send Feedback" class="btn btn-default" onclick="javascript: showDiv();" />
    -->
</div>

@if (Model.FeedBackMood == "Reply")
{
    <form action="./Feedback/Index" method="post">
        <button class="btn btn-default navbar-btn">Send Feedback</button>
    </form>
    
    <!--<div class="panel panel-default" id="replyFeedback" style="margin-top:10px;">-->
    <div class="panel panel-default" id="feedbackDiv" style="margin-top:10px;">
        <div class="panel-heading">
            <h3 class="panel-title">Reply Feedback</h3>
        </div>
        @using (Html.BeginForm("SendFeedback", "Feedback", FormMethod.Post, new { role = "form", id = "myform" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel-body">

                <h4>@Html.LabelFor(m => m.FeedbackSendViewModel.Subject)</h4>
                @Html.TextBoxFor(m => m.FeedbackSendViewModel.Subject, new { @class = "form-control", @placeholder = "Enter Subject" })

                <h4>@Html.LabelFor(m => m.FeedbackSendViewModel.ToID)</h4>
                @Html.HiddenFor(m => m.FeedbackSendViewModel.ToID)
                @Html.DropDownListFor(model => model.FeedbackSendViewModel.ToID, Model.FeedbackSendViewModel.UserList, new { @class = "form-control", disabled = "disabled" })
                <h4>@Html.LabelFor(m => m.FeedbackSendViewModel.Message)</h4>
                @Html.TextAreaFor(m => m.FeedbackSendViewModel.Message, new { @class = "form-control", @placeholder = "Enter Message", @style = "height:150px;width:350px;" })

                <div>
                    <!--<input type="submit" value="send" class="btn btn-default" style="margin-top:10px;" />-->
                    <input id="mybtn" type="submit" value="send" class="btn btn-default" style="margin-top:10px;" />
                    <input id="btnReset" type="reset" class="btn btn-danger" style="margin-top:10px;margin-left:10px;" />
                </div>
            </div>
        }
    </div>
}
else
{
    <div>
        <input type="submit" id="btnFeedback" value="Send Feedback" class="btn btn-default" />
    </div>
    
    <!--<div class="panel panel-default" id="sendFeedback" style="margin-top:10px;">-->
    <div class="panel panel-default hidden" id="feedbackDiv" style="margin-top:10px;">
        <div class="panel-heading">
            <h3 class="panel-title">Send Feedback</h3>
        </div>

        @using (Html.BeginForm("SendFeedback", "Feedback", FormMethod.Post, new { role = "form", id = "myform" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel-body">

                <h4>@Html.LabelFor(m => m.FeedbackSendViewModel.Subject)</h4>
                @Html.TextBoxFor(m => m.FeedbackSendViewModel.Subject, new { @class = "form-control", @placeholder = "Enter Subject" })
                @Html.ValidationMessageFor(m => m.FeedbackSendViewModel.Subject)
                <h4>@Html.LabelFor(m => m.FeedbackSendViewModel.ToID)</h4>
                @Html.DropDownListFor(model => model.FeedbackSendViewModel.ToID, Model.FeedbackSendViewModel.UserList, new { @class = "form-control" })
                <h4>@Html.LabelFor(m => m.FeedbackSendViewModel.Message)</h4>
                @Html.TextAreaFor(m => m.FeedbackSendViewModel.Message, new { @class = "form-control", @placeholder = "Enter Message", @style = "height:150px;width:350px;" })
                @Html.ValidationMessageFor(m => m.FeedbackSendViewModel.Message)

                <div>
                    <!--         <input id="mybtn" type="submit" value="send" class="itis btn btn-default" style="margin-top:10px;" /> -->
                    <input id="mybtn" type="submit" value="send" class="btn btn-default" style="margin-top:10px;" />
                    <input id="btnReset" type="reset" class="btn btn-danger" style="margin-top:10px;margin-left:10px;" />

                </div>
            </div>
        }
    </div>


}


<!--
<script src="@Url.Content("~/Scripts/gpascript.js")" type="text/javascript"></script>
-->


<!--
@if ((string)TempData["MessageSent"] == "True")
    {
    <div class="alert alert-success" style="margin-top:10px;">
        Message Sent
    </div>
    }
-->
    


@Scripts.Render("~/bundles/jqueryval")

@section Scripts{
    <script type="text/javascript">

        $("#btnFeedback").click(
            function () {
                if ($('#feedbackDiv').hasClass("hidden")) {
                    $('#feedbackDiv').addClass("show");
                    $('#feedbackDiv').removeClass("hidden");

                    $('#btnFeedback').addClass("active");
                    $('#feedbackResult').html("");
                } else {
                    $('#feedbackDiv').addClass("hidden");
                    $('#feedbackDiv').removeClass("show");

                    $('#btnFeedback').removeClass("active");
                }
            });

        $("#mybtn").bind("click", 
        //$("#mybtn").click(
            
            function f(event) {
                // show spinner
                $('#feedbackResult').html("<img src='./Content/ajax-loader.gif' style='align-content:center'/>");
                debugger
                var form = $('#myform') || $('#Feedback');
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize()
                })
                .success(function (data, textStatus, jqXHR ) {
                    //alert('you message has been submitted');
                    // set message
                    $('#feedbackResult').html(data);
                    // clear form
                    $("#btnReset").trigger("click");
                    // hide form
                    $("#btnFeedback").trigger("click");
                })
                .error(function (xhr, ajaxOptions, thrownError) {
                    // alert message ?
                    alert(xhr.status);
                });
                return false;
            }
        );

        //at Scripts.Render("~/bundles/jqueryval")
</script>
 } 

