@model GPA.Models.ReportViewModel
@{
    ViewBag.Title = "GradeReport";
}

<h2>GradeReport</h2>

<div class="panel panel-default">
    <div class="panel-heading">Feedback</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                   Course Name
                </th>
                <th>
                    Credit
                </th>
                <th>
                   Grade
                </th>
                <th>
                       GAP
                </th>

            </tr>

            @foreach (var item in Model.GPAesult)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GradeNumber)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.StudentCourseGrade)
                        </td>
                   
                </tr>
            }

        </table>




    </div>
    @if ((string)TempData["MessageDeleted"] == "True")
    {
        <div class="alert alert-success" style="margin-top:10px;">
            Message Sent
        </div>
    }
</div>

